<div class="container">
  <div class="main-display">
      <ng-content></ng-content>
  </div>
  
  <div class="input-section">
    <div *ngFor="let input of inputs; let i = index" class="input-wrapper">
      <input  
        type="text"  
        [placeholder]="'Eingabe ' + (i + 1) + '...'"  
        [value]="input"  
        (input)="handleInputChange(i, $event)"  
      />
      <span class="suffix-text">{{ predefinedText[i]}}</span>
    </div>
    <button (click)="sortClicked.emit()">{{action_button}}</button>
    <button>schrittweise {{action_button}}</button>
  </div>

  <div class="sidebar" [class.open]="sidebarOpen">
    <div class="sidebar-title" (click)="toggleSidebar()">
      Beschreibung
    </div>
    <div class="sidebar-content">
      {{description}}
    </div>
  </div>
</div>
