<app-template-sorting [description]="'Test'" [predefinedText] = "['x^4', 'x^3', 'x^2', 'x^1', 'x^0']" (sortClicked)="onClick()" (inputsEvent)="inputs=$event">
  <!-- überlegen wegen schrittweitensteuerung für < 0.01 -->
   <!-- Button um line search zu aktivieren bzw zu deaktivieren hinzufügen   -->
  <input 
      type="number" 
      placeholder="Schrittweite" 
      name="alpha"
      style="margin:10px;"
      [(ngModel)]="alpha"
      (ngModelChange)="validateAlpha()"
      min="0" max="1" step="0.01">
  <span title="Bitte einen Wert zwischen 0 und 1 eingeben.">ℹ️</span>
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-top: 10px;margin: 10px;">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (change)="setGraphMode('1D')" [checked]="graphMode === '1D'">
    <label class="btn btn-outline-primary" for="btnradio1">1D Graph</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (change)="setGraphMode('2D')" [checked]="graphMode === '2D'">
    <label class="btn btn-outline-primary" for="btnradio2">2D Graph</label>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; height: 70vh; width: 100%;">
    <div id="plot3d" style="height: 70vh; width: 90%;" *ngIf="graphMode === '2D'"></div>
    <canvas id="myChart" *ngIf="graphMode === '1D'" style="height: 70vh; width: 90%;"></canvas>
  </div>
</app-template-sorting>

