<header class="header-container text-4xl md:text-5xl font-extrabold text-center mb-12 bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-pink-600 leading-[1.2] flex justify-between items-center">
    <a>
        <img class="logo" src="AlgoVision_logo_purple.png" (click)="navigateHome()">
    </a>
    <div class="login-container relative">
        <img src="login_icon_colored.png" alt="Login Icon" class="login-icon cursor-pointer" (click)="toggleLoginForm()">
        <!-- <form class="login-form absolute right-0 mt-2 p-4 bg-white border rounded shadow-lg" *ngIf="showLoginForm" (submit)="login()">
            <input type="text" placeholder="Username" class="login-input mb-2" name="username" autocomplete="username" required>
            <input type="password" placeholder="Password" class="login-input mb-2" name="password" autocomplete="current-password" required>

             <div *ngIf="isRegistering">
                <input type="password" placeholder="Confirm Password" class="login-input mb-2" name="confirmPassword" required>
                <input type="email" placeholder="Email" class="login-input mb-2" name="email" autocomplete="email" required>
            </div>

            <button type="submit" class="login-button w-full mb-2">
                {{ isRegistering ? 'Register' : 'Login' }}
            </button>
            
            <button type="button" class="toggle-button w-full" (click)="toggleRegisterMode()">
                {{ isRegistering ? 'Back to Login' : 'Create Account' }}
            </button> -->

            <form *ngIf="showLoginForm" 
              #authFormElement="ngForm"
              (ngSubmit)="onSubmit()" 
              class="login-form">
            
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>

            <!-- name Attribut hinzugefügt für jedes Eingabefeld -->
            <input type="text" 
                    class="login-input mb-2"
                   name="username"
                   [(ngModel)]="authForm.username" 
                   placeholder="Username" 
                   required>

            <input type="password" 
                    class="login-input mb-2"
                   name="password"
                   [(ngModel)]="authForm.password" 
                   placeholder="Password" 
                   required>

            <div *ngIf="isRegistering">
                <input type="password" 
                    class="login-input mb-2"
                       name="confirmPassword"
                       [(ngModel)]="authForm.confirmPassword" 
                       placeholder="Confirm Password" 
                       required>

                <input type="email" 
                        class="login-input mb-2"
                       name="email"
                       [(ngModel)]="authForm.email" 
                       placeholder="Email" 
                       required>
            </div>

            <button type="submit"
                    class="login-button w-full mb-2">
                {{ isRegistering ? 'Register' : 'Login' }}
            </button>

            <button type="button" 
                    class="toggle-button w-full"
                    (click)="toggleRegisterMode()">
                {{ isRegistering ? 'Back to Login' : 'Create Account' }}
            </button>
        </form>
    </div>
</header>