#myChart {
    width: 800px;
    height: 400px;
    display: block; /* Verhindert, dass es durch ein Blockverhalten skaliert */
    margin: 0 auto; /* Zentriert das Canvas */
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input {
    padding: 8px;
    width: 250px;
    border: 2px solid #2f8ecd;
    border-radius: 5px;
    font-size: 16px;
  }
  button {
    padding: 10px 15px;
    background-color: #2f8ecd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    background-color: #1c6ea4;
  }