<app-template-sorting [description]="'Test'" (sortClicked)="onClick()" (inputsEvent)="inputs=$event">

  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (change)="onSortModeChange('min')">
    <label class="btn btn-outline-primary" for="btnradio1">Min Sort</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (change)="onSortModeChange('max')">
    <label class="btn btn-outline-primary" for="btnradio2">Max Sort</label>

  </div>
  
  <canvas id="myChart"></canvas>
</app-template-sorting>