<app-template-sorting [description]="'Bubblesort ist ein einfacher, aber ineffizienter Sortieralgorithmus, der wiederholt benachbarte Elemente eines Arrays vergleicht und vertauscht, wenn sie in der falschen Reihenfolge stehen. Dies wird so lange wiederholt, bis keine Vertauschungen mehr nötig sind, wodurch das größte verbleibende Element bei jedem Durchlauf nach oben blubbert. 
Worst Case: 𝑂(𝑛^2) '" [action_button] = "'Sortieren'" (sortClicked)="onClick()" (inputsEvent)="inputs=$event">

  <div style="display: flex; justify-content: center;">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin: 10px 0; width: fit-content;">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (change)="onSortModeChange('min')">
      <label class="btn btn-outline-primary" for="btnradio1">Min Sort</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (change)="onSortModeChange('max')">
      <label class="btn btn-outline-primary" for="btnradio2">Max Sort</label>
    </div>
  </div>
    
    <div class="chart-container">
      <div class="chart-wrapper" style="position: relative; width: 100%; max-width: 800px;">
        <canvas id="myChart"></canvas>
        <canvas id="bubbleOverlay" style="position: absolute; top: 0; left: 0; pointer-events: none;"></canvas>
      </div>
    </div>
    
    
  </app-template-sorting>