<p>Es gibt stabile und instabile Sortieralgorithmen ...</p>
<p>Beispiel eines stabilen Sortieralgorithmus</p>
<p> Ausgangswerte</p>

<table class="my-table">
    <tr>
        <th>Key</th>
        <th>Wert 1</th>
        <th>Wert 2</th>
        <th>Wert 3</th>
    </tr>
    <tr>
        <td>Wert</td>
        <td>123</td>
        <td>456</td>
        <td>789</td>
    </tr>
</table>

<p> Nach benutzen eines stabilen Algorithmus sieht das so aus, sonst kann das so oder so aussehen</p>
<p>Graphik einfügen</p>